<section class="cont">
    <h1>Estudios</h1>
    <div class="estudios">
        <div>
            <ul>
                <li>
                    <h2>Veterinario</h2>
                    <p>Facultad de Ciencias Veterinarias - Universidad de Buenos Aires</p>
                    <p>2013</p>            
                </li>
            </ul>        
        </div>
        <img src="./assets/uba.jpg" alt="Logo de la UBA" id="uba">
    </div>
    <div class="estudios">
        <div>
            <ul>
                <li >
                    <h2>Desarrollador front inicial (HTML5, CSS3, JS3)</h2>
                    <p>U.T.N. en colaboración con la Municipalidad de Las Flores</p>
                    <p>2021</p>
                </li>
            </ul>        
        </div>    
        <img src="./assets/utndelta.png" alt="utn delta">
    </div>
    <div class="estudios">
        <div>
            <ul>
                <li>
                    <h2>Full Stack Developer</h2>
                    <p>Argentina programa - Ministerio de Desarrollo Productivo, INTI y CESSI</p>
                    <p>2022</p>
                </li>
            </ul>        
        </div>
        <img src="./assets/argpro.png" alt="Argentina programa">
    </div>
</section>  
