<!--<section id="veterinaria">
    <h1>Veterinaria</h1>
    <ul>
        <li>
            Veterinaria Pasto Puna (2020-actualidad)
            <img src="./assets/logovete.png" alt="logo pasto puna" id="logovete">
        </li>
        <li>SilVet</li>
        <li>Todo Agro Veterinaria</li>
        <li>Iatf bovinos</li>
        <li>Nutricion aplicada bovinos</li>
        <li>Ecografia en pequeños animales</li>
    </ul>
</section>
<section id="developer">
    <h1>Developer</h1>
    <ul>
        <li>
            Mesa de ayuda y soporte tecnico - Ministerio de Desarrollo Social (2005-Actualidad)
        </li>
        <li>
            <a href="https://github.com/misola5">Repositorio</a>
            <img src="/assets/git.png" alt="logo github">
        </li>
        <li>
            Fundamentos de codificacion - Grasshopper by google
            <img src="./assets/grass.png" alt="Grasshopper">

        </li>
    </ul>
    <div>
        <img src="" alt="html5">
        <img src="" alt="css3">
        <img src="" alt="js3?">
        <img src="" alt="typescript">
        <img src="" alt="angular">
        <img src="" alt="bootstrap">
        <img src="" alt="jquery">
    </div>
</section>-->
<h1>Experiencia</h1>

<div class="container">

    <ul class="menu">
        <li>
          <a href="#slide1" style="color: chartreuse;">Veterinario</a>
        </li>
        <li>
          <a href="#slide2" style="color: coral;">Developer</a>
        </li>
         
      </ul>
  
    <ul class="slider">
      <li id="slide1">
        <section id="veterinaria">
            <h2 style="color: chartreuse;">Veterinario</h2>
            <p>Veterinaria Pasto Puna (2020-actualidad)</p>
            <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
            <p>SilVet</p>                
            <p>Todo Agro Veterinaria</p>
            <p>IATF bovinos</p>
            <p>Nutricion aplicada bovinos</p>
            <p>Ecografia en pequeños animales</p>          
            <div style="display: flex; justify-content: center;">
                <img src="./assets/logovete.png" alt=""style="width: 90px; height: auto;">
                <img src="./assets/cemv.png" alt=""style="width: 90px; height: auto;">
                <img src="./assets/inta.png" alt=""style="width: 90px; height: auto;">
                <img src="./assets/uba2.jpg" alt=""style="width: 100px; height: auto;">
                <img src="./assets/cole.png" alt=""style="width: 90px; height: auto;">
            </div>
              
        </section>
        
      </li>
      <li id="slide2">
        <section id="developer">
            <h2 style="color: coral;">Developer - IT</h2>            
                <p>Mesa de ayuda y soporte tecnico - Ministerio de Desarrollo Social (2005-Actualidad)</p>
                <a href="https://github.com/misola5" style="text-decoration: none; color: rgb(73, 189, 73);">Github Repositorio</a>
                 
                <div >
                    <img src="./assets/git.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/grass.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/angular.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/html5.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/css.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/js.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/ts.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/visual.png" alt="" style="width: 75px; height: auto;">
                    <img src="./assets/boots.png" alt="" style="width: 75px; height: auto;">
                </div>                          
           <!-- <div>
                <img src="" alt="html5">
                <img src="" alt="css3">
                <img src="" alt="js3?">
                <img src="" alt="typescript">
                <img src="" alt="angular">
                <img src="" alt="bootstrap">
                <img src="" alt="jquery">
            </div>-->
        </section>
      </li>
     
    </ul>
    
    <!-- <ul class="menu">
      <li>
        <a href="#slide1" style="color: chartreuse;">Veterinario</a>
      </li>
      <li>
        <a href="#slide2" style="color: coral;">Developer</a>
      </li>
       
    </ul> -->
    
  </div>