.logos {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    padding: 10px 0px;
    margin: 30px 0px;
}
img {
    width: auto;
    height: 50px;
}