/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    font-family: 'Roboto Slab', serif;
}
body {
    margin: 0%;
    background-color: black;
}

h1{
    text-decoration: underline;
}

.cont {
    padding-left: 5%;
}